[Desktop Entry]
Name=Acid-Dark
X-KDE-PluginInfo-Name=Acid-Dark
X-KDE-PluginInfo-Author=Stefan Z Camilleri
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=Creative Commons Attribution-ShareAlike 4.0
