[Desktop Entry]
Name=Acid-Dark


[Desktop Entry]
Name=Acid-Dark
X-KDE-PluginInfo-Author=Stefan Z Camilleri
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=Acid-Dark
X-KDE-PluginInfo-Version=1.0


[ContrastEffect]
enabled=false
contrast=0.2
intensity=0.4
saturation=1.7


[Wallpaper]
defaultWallpaperTheme=Acid-Dark
defaultFileSuffix=.jpg
defaultWidth=1920
defaultHeight=1080
