[SddmGreeterTheme]
Name=Acid-Dark
Description=Acid-Dark Theme
Author=Stefan Z Camilleri
Copyright=
License=CC-BY-SA
Type=sddm-theme
Version=1
Website=https://github.com/Stefan-Z-Camilleri/themes/tree/master/KDE/acid-dark
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=
Theme-Id=Acid-Dark
Theme-API=2.0
